<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.evidently.org/Evidently"
			class = "org.evidently.evidently.EvidentlyPackage"
			genModel = "model/generated/Evidently.genmodel" />
	</extension>
</plugin>
